.container {
    display: flex;
    background-color: purple;
    height: 200px;
    justify-content: space-around;
    border: 2px solid black;
    margin-bottom: 10px;
}

.box {
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
    width: 250px;
    border: 2px solid black;
    height: 75%;
    margin: 14px;
}

.container2 {
    display: flex;
    justify-content: flex-end;
    background-color: brown;
    height: 200px;
    border: 2px solid black;
    margin-bottom: 10px;
}


.box2 {
    background-color: bisque;
    width: 250px;
    margin: 14px;
    border: 2px solid black;
}

.container3 {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    height: 200px;
    border: 2px solid black;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.box3 {
    background-color: coral;
    width: 250px;
    margin: 14px;
    border: 2px solid black;

}

.container4 {
    display: flex;
    justify-content: center;
    background-color: darkblue;
    height: 200px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.box4 {
    background-color: darkturquoise;
    width: 40%;
    height: 70%;
    margin: 14px;
    border: 2px solid black;
}



